name: Build NET Framework/Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET 6
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Restore packages
      run: |
           dotnet restore
           for s in SistemaDeAparcamiento Anaconda Palindromo MostRepeatedLetter PrimeNumber DivisorsAndSum Codewars SatelliteMessages MarsRover; do
               dotnet restore $s/$s.sln
           done
           for s in 2021 2020; do
               dotnet restore AdventOfCode/$s/AdventOfCode$s.sln
           done

    - name: Install Coverlet
      run: dotnet tool install --global coverlet.console

    - name: Build solutions
      run: |
           dotnet build --configuration Debug --no-restore
           for s in SistemaDeAparcamiento Anaconda Palindromo MostRepeatedLetter PrimeNumber DivisorsAndSum Codewars SatelliteMessages MarsRover; do
               dotnet build --configuration Debug --no-restore $s/$s.sln
           done
           for s in 2021 2020; do
               dotnet build --configuration Debug --no-restore AdventOfCode/$s/AdventOfCode$s.sln
           done

    - name: Testing AdventOfCode/2021
      run: |
           for d in `seq 25`; do
               coverlet AdventOfCode/2021/Day$d/Day$d.UnitTests/bin/Debug/net6.0/Day$d.UnitTests.dll --target "dotnet" --targetargs "test AdventOfCode/2021/Day$d/Day$d.UnitTests/bin/Debug/net6.0/Day$d.UnitTests.dll --no-build" --format OpenCover --output adventofcode2021day$d.coverage.xml
           done

    - name: Testing AdventOfCode/2020
      run: |
           for d in `seq 25`; do
               coverlet AdventOfCode/2020/Day$d/Day$d.UnitTests/bin/Debug/net6.0/Day$d.UnitTests.dll --target "dotnet" --targetargs "test AdventOfCode/2020/Day$d/Day$d.UnitTests/bin/Debug/net6.0/Day$d.UnitTests.dll --no-build" --format OpenCover --output adventofcode2020day$d.coverage.xml
           done

    - name: Testing Standalone Programs
      run: |
           coverlet SistemaDeAparcamiento/SistemaDeAparcamiento.Tests/bin/Debug/net6.0/SistemaDeAparcamiento.Tests.dll --target "dotnet" --targetargs "test SistemaDeAparcamiento/SistemaDeAparcamiento.Tests/SistemaDeAparcamiento.Tests.csproj --no-build --verbosity quiet" --format OpenCover --output sistemadeaparcamiento.coverage.xml

    - name: Testing NET Standalone Programs
      run: |
           for s in Anaconda Palindromo MostRepeatedLetter PrimeNumber DivisorsAndSum SatelliteMessages MarsRover; do
               coverlet $s/$s.UnitTests/bin/Debug/net6.0/$s.UnitTests.dll --target "dotnet" --targetargs "test $s/$s.UnitTests/$s.UnitTests.csproj --no-build --verbosity quiet" --format OpenCover --output $s.coverage.xml
           done

    - name: Testing Codewars
      run: |
           for s in `find ./Codewars -maxdepth 1 -type d -printf "%f\n" | grep -v "Codewars" | grep -v "kyu"`; do
               coverlet Codewars/$s/$s.UnitTests/bin/Debug/net6.0/$s.UnitTests.dll --target "dotnet" --targetargs "test Codewars/$s/$s.UnitTests/$s.UnitTests.csproj --no-build --verbosity quiet" --format OpenCover --output $s.coverage.xml
           done

           for n in 8kyu 6kyu; do
               for s in `find ./Codewars/$n -maxdepth 1 -type d -printf "%f\n" | grep -v "kyu"`; do
                   coverlet Codewars/$n/$s/$s.UnitTests/bin/Debug/net6.0/$s.UnitTests.dll --target "dotnet" --targetargs "test Codewars/$n/$s/$s.UnitTests/$s.UnitTests.csproj --no-build --verbosity quiet" --format OpenCover --output $s.coverage.xml
               done
           done

    - name: Upload coverage to CodeCov
      run: bash <(curl -s https://codecov.io/bash)

    - name: Archive code coverage results
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage-report
        path: ./*.coverage.xml
